# --------------------
# 1. Data Files
# --------------------
# This ignores the large dataset file.
*.csv

# --------------------
# 2. Python Environment & Dependencies
# --------------------
# Ignore virtual environment folders.
.venv/
venv/
.conda/
env/

# --------------------
# 3. NLTK Data and Other Local Resources
# --------------------
# Ignore the large folder of NLTK data that was downloaded.
nltk_data/

# --------------------
# 4. Jupyter Notebook & IDE Files
# --------------------
# Ignore temporary checkpoint files created by Jupyter.
.ipynb_checkpoints/

# Ignore files created by IDEs like VS Code.
.vscode/

# --------------------
# 5. Python Cache
# --------------------
# Ignore folders where Python stores compiled code.
__pycache__/
